.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*
!.env.example

*.db
*.sqlite
*.sqlite3
_local_db_backups
_local_db_backups/

uploads
logs
tmp
temp

.git
.gitignore
